html, body { display: table; width: 100%; height: 100%; }

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.app {
    margin: auto;
}

.title {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.photos {
    position: relative;
    height: 50vh;
}

img {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

button {
    border-radius: 5px;
    border: 0;
    background-color: lightgrey;
    width: 100px;
    height: 40px;
    margin: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.photo-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.photo-enter.photo-enter-active {
    opacity: 1;
}

.photo-leave {
    opacity: 1;
    z-index: -1;
    transition: opacity .5s ease-in;
}

.photo-leave.photo-leave-active {
    opacity: .99;
}


/**/
.gray{
    background-color:#ccc;
}
.main-header {
    height:100px;
    background-color:#ccc;

}
.main-body {
    height:600px;
}

/* overriting bootstrapp container width */
.container
{
    width: 100% !important;
}

.panel{
    border:1px solid #ccc;
    border-radius: 0 !important;
}


/* rightSidePanel */
.panel .header{
    background-color:#808080;
    padding:3px;
    color:white;
    margin-bottom:10px;
}


.slide-base
{
    width:190px;
    height:130px;
    border:1px solid #000000;
    cursor:pointer;
}

.slide-base .title-placeholder
{
    background-color:darkcyan;
    height:15px;
    width:150px;
}

.slide-base .text-body-placeholder
{
    background-color:#ccc;
    height:80px;
    width:150px; 
}

.slide-base .image-body-placeholder{
    background-color:#ccc;
    height:80px;
    width:150px; 
}

.space-top10
{
    margin-top:10px;
}

.space-top55 
{
    margin-top:55px;
}

.space-bottom10
{
    margin-bottom:10px;
}

.space-bottom20
{
    margin-bottom:20px;
}

/* stage */
.stage {
    height : 700px;
}