html, body { display: table; width: 100%; height: 100%; }

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.app {
    margin: auto;
}

.title {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.photos {
    position: relative;
    height: 50vh;
}

img {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

button {
    border-radius: 5px;
    border: 0;
    background-color: lightgrey;
    width: 100px;
    height: 40px;
    margin: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.photo-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.photo-enter.photo-enter-active {
    opacity: 1;
}

.photo-leave {
    opacity: 1;
    z-index: -1;
    transition: opacity .5s ease-in;
}

.photo-leave.photo-leave-active {
    opacity: .99;
}


/**/
.navbar a{
    cursor:pointer;
}

.gray{
    background-color:#ccc;
}
.main-header {
    height:100px;
    background-color:#ccc;

}
.main-body {
    height:600px;
}

/* overriting bootstrapp container width */
.container
{
    width: 100% !important;
}

.panel{
    border:1px solid #ccc;
    border-radius: 0 !important;
}

.height700
{
    height:700px;
}


/* rightSidePanel */
.header{
    position:relative;
    background-color:#808080;
    padding:10px;
    color:white;
    height:40px;
    font-size: 15px;
}


.slide-base
{
    width:190px;
    height:130px;
    border:1px solid #000000;
    cursor:pointer;
}

.slide-base .title-placeholder
{
    background-color:darkcyan;
    height:15px;
    width:150px;
}

.slide-base .text-body-placeholder
{
    background-color:#ccc;
    height:80px;
    width:150px; 
}

.slide-base .image-body-placeholder{
    background-color:#ccc;
    height:80px;
    width:150px; 
}

.space-top10
{
    margin-top:10px;
}

.space-top55 
{
    margin-top:55px;
}

.space-top100{
    margin-top:100px;
}

.space-bottom10
{
    margin-bottom:10px;
}

.space-bottom20
{
    margin-bottom:20px;

}

.right-side-image {
    width: 150px;
    height: 80px;
    position: relative !important;
    left: 0px;
    border-radius:0;
}




/* stage */

.stageMenu a {
    cursor:pointer;
    color:#808080;
}



.stage-image {
    height: 480px;
    position: relative !important;
    left: 0;
}
.stage {
    height : 700px;
}

.stage .title-input{
    font-size:40px;
    height:80px;
    border: 2px dashed #ccc; 
    padding : 0;
    margin : 0;
}

.stage .body-input
{
    font-size:40px;
    border: 2px dashed #ccc; 
    padding : 0;
    margin : 0;
    height:450px;
}

#stageMenu
{
    display:none;
}

#stageWrapper:hover #stageMenu{
    display:block !important;
}

/*#stageWrapper:hover{
border  :1px solid red !important;
}*/


.space-top300{
    margin-top:300px;
}

/* left side panel */
body {
}

.panelSlide {
    width: 150px;
    height: 110px;
    border: solid;
    border-color: #ccc;
    border-width: 2px;
    text-align: center;
    float: right;
    margin: 10px;
    align-content: center;
    cursor:pointer;

}

.panelRow {
    position: relative;
    height:140px;
    width: 220px;
    border: solid;
    border-color: #ccc;
    border-width: 5px;
    text-align: center;
    margin-bottom: 10px;
    
}

.panelRow.selected{
    background-color:#e2f7f5
}


.slideId {
    position:absolute;
    float: left;
    top:15px;
    left:15px;
}

.leftSidePanel {
    padding: 15px 30px;
    background-color: white;
    border :1px solid #ccc;
    height:662px;
    overflow-y: auto;
}

.header.left {
    position: absolute;
    left:15px;
    top:2px;
    float: left;
    height: 30px;
    width: 40%;
    text-align: left;
    
}

.header.right {
    position: absolute;
    right:15px;
    top:2px;
    float: right;
    cursor:pointer;
    height: 30px;
    width: 40%;
    text-align: right;   
}

.delButton {
    float: left;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position:absolute;
    top:100px;
    left:10px;

}
